<p>
    <a href="https://validator.w3.org/check/referer">
	<img style="border:0;width:88px;height:31px;" 
	     src="https://jigsaw.w3.org/css-validator/images/vh40" 
	     alt="Valid XHTML 4.0!"/>
    </a>
</p>
<p>
    <a href="https://jigsaw.w3.org/css-validator/check/referer">
        <img style="border:0;width:88px;height:31px"
            src="https://jigsaw.w3.org/css-validator/images/vcss-blue"
            alt="Valid CSS!" />
    </a>
</p>
<p>
     <a href="//www.w3.org/QA/" title="W3C's Quality Assurance Activity, bringing you free Web quality tools and more">
	 <img src="https://jigsaw.w3.org/css-validator/images/woolly-icon" 
	      alt="Learn CSS">
     </a>
</p>

<small>site last modified: [% site_modified %]</small>    
</body>
</html>
