[% header = "partials/header.tmpl" %]
[% footer = "partials/footer.tmpl" %]
[% INCLUDE $header %]

 <body>
   <h1>Boring Tranquility</h1>
   <div class="masthead-wrap">
    <img id="masthead" src="/static/bored.jpg" alt="boring tranquility masthead">
   </div>
    <p><a href="https://en.wikipedia.org/wiki/West_with_the_Night"><span>&OpenCurlyDoubleQuote;</span>Boredom, like hookworm, is endemic.<span>&CloseCurlyDoubleQuote;</span></a></p>
    <p><a href="https://en.wikipedia.org/wiki/Daniel_Webster"><span>&OpenCurlyDoubleQuote;</span>Liberty and Union, now and forever, one and inseparable!<span>&CloseCurlyDoubleQuote;</span></a></p>
    <hr>
    <div>
	    <small>posts</small>
	    <ol>
	    [% FOREACH post IN $body %]
    		<li><a href="/posts/[% post %]">[% post %]</a></li>
    	    [% END %]
	    </ol>
    </div>

	$body

[% INCLUDE $footer %]
