[% header = "partials/header.tmpl" %]
[% footer = "partials/footer.tmpl" %]
[% INCLUDE $header %]

 <body>
   <h1>[% title %]</h1>
    <hr>
    <div>
    [% FOREACH part IN body %]
	<p>[% part %]</p>
    [% END %]
    </div>

[% INCLUDE $footer %]
